p{
    font-size:1.5rem;
}
.back-btn {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    margin-top:25.8px;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    left: 20px;
}
.back-btn:hover {
    background: rgba(255, 255, 255, 0.35);
}

.header-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 30% 30%, #cf3b68 0%, #431553 35%, #1f0a37 100%);
    background-size: 200% 200%;
    animation: bgShift 12s ease-in-out infinite alternate;
    font-family: monospace;
    color: #fff;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    max-width: 90vw;

    min-width: 50vw;
    padding: 60px 80px;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    position: relative;
}


/* --- Медиазапросы для адаптивности --- */

/* Планшеты */
@media (max-width: 1000px) {
    p {
        font-size: 1.2rem;
    }

    .glass-card {
        padding: 40px 30px;
        max-width: 90vw;

    }

    .header-group {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .header-group h1 {
        max-width: 250px;
text-align: center;
        font-size: 1.8rem;
    }

    .back-btn {
        margin-left:0;
        padding: 2px 5px;


    }
}

/* Мобильные устройства */
@media (max-width: 480px) {
    p {
        font-size: 1rem;
    }

    .glass-card {
        padding: 20px 15px;
        max-width: 90vw;

        border-radius: 15px;
    }

    .header-group h1 {
        font-size: 1.5rem;
        max-width: 180px;

    }

    .back-btn {
        padding: 2px 5px;
        font-size: 0.9rem;
    }
}